* {
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 300px;
}
main {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#icons {
  align-items: center;
  width: calc((32px + 10px * 2) * 4 + 5px * 2 * 4);
}
a:has(.favicon) {
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 4px #ccc;
  display: inline-block;
  width: calc(32px + 10px * 2);
  height: calc(32px + 10px * 2);
  padding: 10px;
  margin: 5px;
}
a:has(.favicon):hover {
  position: relative;
  transition: background-color 0.2s ease;
  background-color: #eee;
  opacity: 0.8;
}
a:has(.favicon):hover::after {
  pointer-events: none;
  transition: opacity 0.2s ease;
  content: "\00d7";
  color: #fff;
  position: absolute;
  top: 0px;
  left: 16px;
  font-size: 32px;
  display: block;
  height: 32px;
  width: 32px;
}
a:has(.favicon):hover::before{
  pointer-events: none;
  transition: opacity 0.2s ease;
  opacity: 0.8;
  content: '.';
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #666;
}
img.favicon {
  width: 32px;
  height: 32px;
}
header h1 {
  font-family: 'Impact', 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 4px #ccc;
}
